<h1>Hello Rails!</h1>

<p>This is a test project I developed to learn Ruby on Rails. I started with the 
	<%= link_to 'make-a-blog tutorial', 'http://guides.rubyonrails.org/getting_started.html' %>, but decided to keep on adding features,
	just to see if I could.
</p>

<%= link_to 'My Blog', controller: 'articles' %>